.show_vacancy
    header
    img.show_vacancy__img
    h1.show_vacancy__vacacy_name awndlkawf
    main
        section.sub_show
            h3 Основная информация
            section.show__section_two_elements
                label.input_name Описание
                .show_vacancy__description jhbaknjlmk;l,
            section.show__section_two_elements
                label.input_name Основные навыки
                show_vacancy__skills awhbdakwnlfkm;
            section.show__section_two_elements
                label.input_name Предположительный уровень дохода
                .inputs_wrapper
                    .payment.inputs_wrapper_filling
                        .show_vacancy__payment_from
                        .show_vacancy__payment_to
                        .show_vacancy__currency
                    .inputs_wrapper_filling.show_vacancy__salary_type
        section.sub_form
            h3 Место работы
            section.show__section_two_elements
                label.input_name Вакансия в
                .show_vacancy__town
            section.show__section_two_elements
                label.input_name Адрес офиса
                .inputs_wrapper_filling.show_vacancy__address
        section.sub_form
            h3 Контактные данные
            section.show__section_two_elements
                label.input_name Менеджер вакансии
                .inputs_wrapper_filling.show_vacancy__manager Олег
            section.show__section_two_elements
                h.input_name Контактная информация
            section.show__section_two_elements
                label.input_name Email
                .show_vacancy__manager_email
            section.show__section_two_elements
                label.input_name Телефон
                .show_vacancy__manager_phone
            section.show__section_two_elements
                label.input_name Комментарий
                .show_vacancy__comment
    footer
        br
        button.button.vacancy_page__button_call Откликнуться
        button.button.vacancy_page__button_like Добавить в избранные