.show-vacancy
    header
    img.show-vacancy__img
    h1.show-vacancy__vacacy-name awndlkawf
    main
        section.sub-show
            h3 Основная информация
            section.show__section-two-elements
                label.input-name Описание
                .show-vacancy__description jhbaknjlmk;l,
            section.show__section-two-elements
                label.input-name Основные навыки
                show-vacancy__skills awhbdakwnlfkm;
            section.show__section-two-elements
                label.input-name Предположительный уровень дохода
                .inputs-wrapper
                    .payment.inputs-wrapper-filling
                        .show-vacancy__payment-from
                        .show-vacancy__payment-to
                        .show-vacancy__currency
                    .inputs-wrapper-filling.show-vacancy__salary-type
        section.sub-show
            h3 Место работы
            section.show__section-two-elements
                label.input-name Вакансия в
                .show-vacancy__town
            section.show__section-two-elements
                label.input-name Адрес офиса
                .inputs-wrapper-filling.show-vacancy__address
        section.sub-show
            h3 Контактные данные
            section.show__section-two-elements
                label.input-name Менеджер вакансии
                .inputs-wrapper-filling.show-vacancy__manager Олег
            section.show__section-two-elements
                h.input-name Контактная информация
            section.show__section-two-elements
                label.input-name Email
                .show-vacancy__manager-email
            section.show__section-two-elements
                label.input-name Телефон
                .show-vacancy__manager-phone
            section.show__section-two-elements
                label.input-name Комментарий
                .show-vacancy__comment
    footer
        br
        button.button.vacancy-page__button-call Откликнуться
        button.button.vacancy-page__button-like Добавить в избранные