.list
  display: flex
  width: calc(100vw - 200px)
  @media(max-width: 800px)
    width: 100vw
  justify-content: flex-start
  &--holder
    overflow-x: scroll
    overflow-y: hidden
  &--body
    display: flex
    flex-direction: row
  &--separator
    padding: 15px