.list
  display: flex
  width: calc(100vw - 200px)
  @media(max-width: 800px)
    width: 100vw
  justify-content: flex-start
  &--holder
    @media(min-width: 800px)
      margin: 0 -20px 0 -20px
    overflow-x: scroll
    overflow-y: hidden
  &--body
    display: flex
    flex-direction: row
  &--separator
    padding: 10px

.preview
  padding: 10px
  display: flex
  flex-direction: column
  overflow: hidden
  &--title
    font-size: 1.2em
    margin: 3px
  &--content
    margin-left: 10px