mixin section-title
    div.section-title.cover(class=attributes.class)
        block

section.page-holder.pad-t20.pad-b20
    div#vacancy_responce
    section.page-solid-section.width80.rad10#vacancy_org_info
    +section-title.width80
        h1 Основная информация
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100.vacancy-main-info#vacancy_main_info
    +section-title.width80
        h1 Обязанности
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100#vacancy_responsibilities
    +section-title.width80
        h1 Условия
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100#vacancy_conditions
    +section-title.width80
        h1 Ключевые слова
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100#vacancy_keywords
    //    h1 Ключевые навыки
    //section.page-section.width80.mrg0
    //    div.page-holder--body.flex-row.width100#vacancy_mainskills
    if(locals.buttonText)
        section.page-section.width80.gradient-background.create-button#create_vacancy_button
            div #{locals.buttonText}