mixin avatar()
    div.avatar(class=(attributes.noSelect ? '': 'avatar--selectable ') + (attributes.class ? attributes.class:''))
        if attributes.src
            div.avatar--body(style="background-image: url(" + attributes.src + ")")
                if(!attributes.noSelect)
                    input.avatar--select(type="file" accept="image/*,.svg" id=attributes.id )
        else
            div.avatar--body(style="background : white")
                if(!attributes.noSelect)
                    input.avatar--select(type="file" accept="image/*,.svg" id=attributes.id )