mixin link
    a(href="javascript:;"
        onclick="linkGo(\"" + (attributes.href ? attributes.href: window.location.pathname) + "\")"
        class=attributes.class
        style=attributes.style
        id=attributes.id)
        block