.footer-container
    .footer-section
        .footer-col
        .footer-col
            span.footer-logo
    .footer-line
    .footer-section
        .footer-col
            .footer-section.footer-authors
                p © 2020 Команда Joblessness


        //.footer-container
        //    .footer-section
        //        .footer-col
        //            ul
        //                li.footer-li
        //                    a(href="#") Поиск работы
        //                li.footer-li
        //                    a(href="#") Switch to English
        //        .footer-col
        //            span.footer-logo
        //    .footer-line
        //    .footer-section
        //        .footer-col
        //            ul
        //                li.footer-li
        //                    a(href="#") О компании
        //                li.footer-li
        //                    a(href="#") Наши вакансии
        //                li.footer-li
        //                    a(href="#") Партнерам
        //                li.footer-li
        //                    a(href="#") Реклама на сайте
        //                li.footer-li
        //                    a(href="#") Новости и стать
        //                li.footer-li
        //                    a(href="#") Инвесторам
        //        .footer-col
        //            ul
        //                li.footer-li
        //                    a(href="#") О компании
        //                li.footer-li
        //                    a(href="#") Наши вакансии
        //                li.footer-li
        //                    a(href="#") Партнерам
        //                li.footer-li
        //                    a(href="#") Реклама на сайте
        //                li.footer-li
        //                    a(href="#") Новости и стать
        //                li.footer-li
        //                    a(href="#") Инвесторам
        //    .footer-line
        //    .footer-section.footer-authors
        //        p © 2020 Команда Joblessness
        //        p Сегодня на сайте 100 500 вакансий, 100 500 резюме, 100 500 компании и за неделю 100 500 приглашения
        //    .footer-line
        //