mixin avatar()
    div.user-avatar
        div.user-avatar--body(style="background-image: url(http://localhost:8001/api/users/1/avatar)")
            input(type="file" accept="image/*,.svg" class="pick-avatar" id=attributes.id )