include ../../../templates/pug/link
div.chat--header
    div.back#chat_back
        i.fas.fa-arrow-left
    if locals.currentPerson && locals.currentPerson.user
        +link(href=(locals.isOrg ? '/organizations/' : '/users/') + locals.currentPerson.id).black-link.name #{locals.currentPerson && locals.currentPerson.user}
    div
div.chat--body#chat_dialog
div.chat--write#chat_input_holder
div(hidden).hidden#chat_dialog_lm