include vac
include user
include org

if(locals.type === 'person')
    +user(locals.item)
else if(locals.type === 'organization')
    +organization(locals.item)
else if(locals.type === 'vacancy')
    +vacancy(locals.item)