mixin edu-holder
    div.create-summary-section.education
        div.create-summary-section--body(id=attributes.id)
        div.options
            div.remove-button &#xd7
            div.edit-button &#9998
            div.move-up &#9650
            div.move-down &#9660
if locals.eduList
    each edu in locals.eduList
        +edu-holder(id=edu.id)
else
    div Нет образования