include ../../../../templates/pug/link
include ../../../../templates/pug/avatar
include ../../../../templates/pug/name
include ../../../../templates/pug/companyName
-const root = locals.isPerson ? '/users/' : '/organizations/'
+link(href=root + locals.chosen.id).user-summary-preview.black-link
    if locals.isPerson
        +avatar(src=locals.avatar)
        +name(locals.name, locals.surname, locals.tag)
    else
        +avatar(src=locals.avatar)
        +company-name(locals.name, locals.tag)