.vacancy_form
    header
        h1 Новая вакансия
    main
        section.sub_form
            h3 Основная информация
            section.form__section_three_elements
                label.input_name Название вакансии
                input.input(name="job-title" type="text")
                span.input_description Подсказка1
            section.form__section_three_elements
                label.input_name Описание
                textarea.input(name="description")
                span.input_description Подсказка3
            section.form__section_three_elements
                label.input_name Основные навыки
                input.input(name="skills" type="text")
                span.input_description Подсказка4
            section.form__section_three_elements
                label.input_name Предположительный уровень дохода
                .inputs_wrapper
                    .payment.inputs_wrapper_filling
                        input.input(name="payment-from" type="number")
                        input.input(name="payment-to" type="number")
                        select.input(name="currency")
                            option(value="rub") руб.
                            option(value="eur") EUR
                            option(value="usd") USD
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="before-taxes" type="radio" value="before-taxes")
                        |                             До выплаты налогов
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="after-taxes" type="radio" value="after-taxes")
                        |                             На руки
                span.input_description Подсказка5
        section.sub_form
            h3 Место работы
            section.form__section_three_elements
                label.input_name Вакансия в городе
                input.input(name="town" type="text")
                span.input_description Подсказка6
            section.form__section_three_elements
                label.input_name Адрес офиса
                .inputs_wrapper
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="show-addr" type="radio" value="show-addr")
                        |                             Показывать адрес
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="dont-show-addr" type="radio" value="dont-show-addr")
                        |                             Не показывать адрес
                    input.input.inputs_wrapper_filling(name="address" type="text")
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="show-only-metro" type="checkbox" value="show-only-metro")
                        |                             Показывать только станцию метро
                span.input_description Подсказка7
        section.sub_form
            h3 Контактные данные
            section.form__section_three_elements
                label.input_name Менеджер вакансии
                .inputs-wrapper
                    input.input.inputs_wrapper_filling(name="manager" type="text")
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="notificatione-by-email" type="checkbox" value="show-only-metro")
                        |                             Уведомлять о вакансиях по почте
                span.input_description Подсказка
            section.form__section_three_elements
                label.input_name Контактная информация
                .inputs_wrapper
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="show-contact" type="radio" value="show-contact")
                        |                             Показывать в вакансии
                    label.inputs_wrapper_filling
                        input.input_checkbox(name="dont-show-contact" type="radio" value="dont-show-contact")
                        |                             Не показывать в вакансии
                span.input_description Подсказка7
            section.form__section_three_elements
                label.input_name Email
                input.input(name="manager-email" type="email")
                span.input_description Подсказка7
            section.form__section_three_elements
                label.input_name Телефон
                input.input(name="manager-phone" type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{4}")
                span.input_description Подсказка7
            section.form__section_three_elements
                label.input_name Комментарий
                input.input(name="comment" type="text")
                span.input_description Подсказка7
    footer
        label
            input.input_checkbox(name="save-temp" type="checkbox" value="save-temp")
            |                 Сохранить как шаблон
        br
        button.button.form__button_submit Разместить
