include social-media
include signin-form

div.main-container
    div.form-container
        form
            +signin-form(loginId=locals.userName.id passwordId=locals.password.id submitId=locals.submitField.id)
            div.remember-main
                div
                    input(type="checkbox" id="remember")
                    label(for="remember") Запомнить
                div
                    a(href="#") Получить пароль
            div.section
                span.section-label Вход через соцсети
                +social-media
            div.section
                span.section-label Регистрация
                div.signup-main
                    div.signup-btn
                        a(href="#" data-page="signup/employee") Соискателя
                    div.signup-btn
                        a(href="#" data-page="signup/employer") Работодателя