mixin social-media-link
    span.social-btn
        a(href="#")

mixin social-media
    div.social-main
        +social-media-link
        +social-media-link
        +social-media-link
        +social-media-link
        +social-media-link
        +social-media-link