include links

div.header-container.search-bar-container
    div.header-group
        +search-bar-link(href="/index" id="sign-out") Выйти
        +search-bar-link(href="/index") Главная
    div.header-fill
    div.header-group
        +search-bar-link(href="/vacancies") Вакансии
        +search-bar-link(href="/vacancies/create") Разместить вакансию
        +search-bar-link(href="/summaries/create") Создать резюме
        +search-bar-link(href="/users/" + locals.userId) Страница Пользователя