include links

div.header-container.search-bar-container
    if(locals.user.role === 'PERSON')
        div.header-group
            +search-bar-link(id="sign-out") Выйти
            +search-bar-link(href="/") Главная
        div.header-fill
        div.header-group
            +search-bar-link(href="/vacancies") Вакансии
            +search-bar-link(href="/summaries/create") Создать резюме
            +search-bar-link(href="/users/" + locals.user.id) Страница Пользователя
    else if(locals.user.role === 'ORGANIZATION')
        div.header-group
            +search-bar-link(id="sign-out") Выйти
            +search-bar-link(href="/") Главная
        div.header-fill
        div.header-group
            +search-bar-link(href="/summaries") Соискатели
            +search-bar-link(href="/vacancies/create") Разместить вакансию
            +search-bar-link(href="/organizations/" + locals.user.id) Страница Организации
    else
        div.header-group
            +search-bar-link(href="/vacancies") Вакансии
            +search-bar-link(href="/") Главная
        div.header-fill
        div.header-group
            +search-bar-link(href="/signup") Авторизация