include ../../../templates/pug/link
mixin search-bar-link
    div.header-link-wrapper
        +link(href=attributes.href id=attributes.id)
            block

mixin header-link
    div.header-link-wrapper
        +link(href=attributes.href id=attributes.id)
            block
