include ../../../templates/pug/link
mixin search-bar-link
    +link(href=attributes.href id=attributes.id).header-link-wrapper
        block

mixin header-link
    +link(href=attributes.href id=attributes.id)
        block
