include links
mixin organization
    +link.header--item(id="sign-out") Выйти
    +link.header--item(href="/") Главная
    div.header-fill
    +link.header--item(href="?type=person\&since=0\&desc=true\&request=") Соискатели
    +link.header--item(href="/vacancies/create") Разместить вакансию
    +link.header--item(href="/organizations/" + locals.user.id + '/') Страница Организации