include links

div.header-container
    div.header-group
        +header-link Москва
        +header-link Соискателям
        +header-link Работадателям
    div.header-fill
    div.header-group
        +header-link Готовое резюме
        +header-link Публикация вакансии
div.header-container.search-bar-container
    div.header-group
        +search-bar-link(href="vacancies") Вакансии
        +search-bar-link(href="index") Главная
    div.header-fill
    div.header-group
        +search-bar-link Поиск
        +search-bar-link(href="login") Войти