include links
mixin user
        +link.header--item(id="sign-out") Выйти
        +link.header--item(href="/") Главная
        +link.header--item(href="?type=vacancy\&since=0\&desc=true\&request=") Вакансии
        +link.header--item(href="/summaries/create") Создать резюме
        +link.header--item(href="/users/" + locals.user.id + '/') Страница Пользователя