div.main-container
    div.form-container
        form
            span.form-caption Вход в личный кабинет
            input.form-input(type="text" placeholder="Email или телефон")
            div.separator
            input.form-input(type="password" placeholder="Пароль")
            input.form-submit(type="submit" value="Войти в личный кабинет")
            div.remember-main
                div
                    input(type="checkbox" id="remember")
                    label(for="remember") Запомнить
                div
                    a(href="#") Получить пароль
            div.section
                span.section-label Вход через соцсети
                div.social-main
                    span.social-btn
                        a(href="#")
                    span.social-btn
                        a(href="#")
                    span.social-btn
                        a(href="#")
                    span.social-btn
                        a(href="#")
                    span.social-btn
                        a(href="#")
                    span.social-btn
                        a(href="#")
                    span.social-btn
                        a(href="#")
            div.section
                span.section-label Регистрация
                div.signup-main
                    div.signup-btn
                        a(href="#") Соискателя
                    div.signup-btn
                        a(href="#") Работодателя