include ../../../templates/pug/link
include ../../../templates/pug/avatar
if locals.items && locals.items.length
    each item in locals.items
        div(id=item.innerId).responses-item
else
    span.empty-message.responses Здесь будут отображаться резюме, которые пришлют соискатели