html, body {
    height: 100%;
}

.footer-container {
    background-color: #333;
    color: #ccc;
    height: 130px;
    bottom: 0;
    padding: 35px 20px;
}

.footer-section {
    display: flex;
}

.footer-col {
    width: 50%;
}

.footer-logo {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 25px;
    display: block;
}

.footer-section {
    display: flex;
}

.footer-authors {
    flex-direction: column;
}

.footer-authors p {
    margin: 0 0 8px 0;
}

.footer-col {
    width: 50%;
}

.footer-col ul {
    padding: 0;
}

.footer-li {
    margin-bottom: 5px;
}

.footer-li a {
    color: inherit;
}

.footer-logo {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 25px;
    display: block;
}

.footer-line {
    height: 1px;
    background-color: #666;
    margin: 15px 0;
}

li {
    list-style: none;
}
#holder {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    min-height: 100%;
    max-width: 100vw;
}

