include ../../../templates/pug/forms
section.create-vacancy-holder
    div.create-vacancy-holder--body
        section
            h1 Обязанности
            div#create_vacancy_create_vacancy_edit_responsibilities
        section
            h1 Требования
            div#create_vacancy_add_requirment
            div#create_vacancy_show_requirments
        section
            h1 Условия
            div#create_vacancy_add_conditions
            div#create_vacancy_show_conditions
        section
            h1 Ключевые навыки
            div#create_vacancy_add_mainskills
            div#create_vacancy_show_mainskills
        section
            h1 Ключевые слова
            div#create_vacancy_keywords

        footer
            br
            button.button.resume-form__button-submit Сохранить и опубликовать