mixin section-title
    div.section-title.cover(class=attributes.class)
        block

div.page-holder.response-holder
    div.cover.gradient-background
        div.cover.light-background
            +section-title.width80
                h1 Откликнуться на вакансию
    div.page-solid-section#response_summaries
