include ../../../../templates/pug/link

mixin steps-counter
    div.step-counter
        div.step-counter--counter.locked
            +link(href='/organizations/signup')
                div.cover.light-background Привет!
        div.step-counter--line
        div.step-counter--counter.locked
            +link(href='/organizations/signup/name')
                div.cover.light-background Название
        div.step-counter--line
        div.step-counter--counter.locked
            +link(href='/organizations/signup/tag')
                div.cover.light-background Тег
        div.step-counter--line
        div.step-counter--counter.locked
            +link(href='/organizations/signup/next')
                div.cover.light-background Успех

div.auth-holder
    +steps-counter
    div.signup-holder.sigup-holder--steps#org_signup_holder