.resume-show
    header
        h1 Ваше резюме
    main
        section.section-settings
            button.button.resume-show__print-button Печать
            button.button.resume-show__delete-summary-button Удалить
        section.sub-show
            h3 Контактные данные
            section.show__section-two-elements
                label.input-name Имя
                .resume-show__name
            section.show__section-two-elements
                label.input-name Фамилия
                .resume-show__surname
            section.show__section-two-elements
                label.input-name Мобильный телефон
                .resume-show__phone
            section.show__section-two-elements
                label.input-name Город проживания
                .resume-show__city
        section.sub-show
            h3 Основная информация
            section.show__section-two-elements
                label.input-name Дата рождения
                .resume-show__date
            section.show__section-two-elements
                label.input-name Пол
                .resume-show__gender
            section.show__section-two-elements
                label.input-name Гражданство
                .resume-show__citizenship
            section.show__section-two-elements
                label.input-name Опыт работы
                .resume-show__no-exp-explanation
        section.sub-show
            h3 Образование
            section.show__section-two-elements
                label.input-name Высшее образование получено в
                .resume-show__education
    footer
        br
        button.button.resume-show__button-to-vacancies Просмотреть вакансии