include ../shared

    //
        gender	string
        birthday	string($date-time)

+settings-block(title='О себе')
    +settings-item("Страна")
    +settings-item("Город")
    +settings-item("Станция метро")