@import "../../../../../CONSTANTS"
.summary-item-holder
  margin: 15px 15px 15px 0

  &:first-child
    margin-left: 30px
  &--body
    display: flex
    padding: 20px
    flex-direction: column
    justify-content: center
    align-items: center
    width: 120px
    height: 180px
    background: white
    border-radius: 10px
    @include SECTION_SHADOW

    h1
      font-size: 1.5em

    h2
      font-size: 1.25em
      font-weight: 200
  &--link
    margin-top: 100%
    justify-self: flex-end
    align-self: flex-end

.item-placing
  opacity: 0
//background: red
.chose-summary
  width: 100%
  padding: 10px
  display: flex
  justify-content: center
  align-items: center
  border-radius: 7px
  @include BACKGROUND_GRADIENT
  align-self: center
  background-size: 200%
  transition: .2s
  font-size: 1.25em
  filter: grayscale(.3)
  cursor: pointer
  &:hover
    filter: grayscale(0)
    transform: scale(1.01)
  &:active
    transform: scale(.99)