include ../../../../templates/pug/link
if locals.items && locals.items.length
    div.user--chosen
        each chosen in locals.items
            if chosen.isPerson
                +link(href='/users/' + chosen.id id=chosen.innerId).black-link
            else
                +link(href='/organizations/' + chosen.id id=chosen.innerId).black-link
else
    h1.empty-message Пора ставить лайки
div(hidden=true)#chosen_load_manager