include ../../templates/pug/link
mixin section-title
    div.section-title.cover(class=attributes.class)
        block

section.page--holder
    div.page--body
            if(link)
                +link(href=link).black-link
                    section.section.maxw100vw
                        section.section--body.padlr20.organization--info#vacancy_org_info
            else
                div.section.maxw100vw
                    section.section--body.padlr20.organization--info#vacancy_org_info
    div.page--body
        h1.section--title Основная информация
        section.section
            div.page-holder--body.flex-row.width100.vacancy-main-info#vacancy_main_info

        span.section--title Обязанности
        section.page--section--solid.tools
            section.page-holder--body.flex-row.width100#vacancy_responsibilities

        span.section--title Условия
        section.page--section--solid.tools
            section.page-holder--body.flex-row.width100#vacancy_conditions

        if(locals.submitText)
            section.page-section.gradient-background.create-button#create_vacancy_button
                div #{locals.submitText}