form
    header
        h1 Новая вакансия
    main
        section.sub-form
            h3 Основная информация
            section.oneline-three-elements
                label.input-name(for="job-title") Название вакансии
                .inputs-wrapper
                    input#job-title.input(type="text")
                span.input-description Подсказка1
            section.oneline-three-elements
                label.input-name(for="description") Описание
                textarea#description.input
                span.input-description Подсказка3
            section.oneline-three-elements
                label.input-name(for="skills") Основные навыки
                input#skills.input(type="text")
                span.input-description Подсказка4
            section.oneline-three-elements
                label.input-name Предположительный уровень дохода
                .inputs-wrapper
                    .input.payment
                        input#payment-from(type="number")
                        input#payment-to(type="number")
                        select#currency
                            option руб.
                            option EUR
                            option USD
                    label(for="before-taxes")
                        input#before-taxes(name="salary" type="radio" value="before-taxes")
                        |                             До выплаты налогов
                    label(for="after-taxes")
                        input#after-taxes(name="salary" type="radio" value="after-taxes")
                        |                             На руки
                span.input-description Подсказка5
        section.sub-form
            h3 Место работы
            section.oneline-three-elements
                label.input-name(for="town") Вакансия в городе
                input#town.input(type="text")
                span.input-description Подсказка6
            section.oneline-three-elements
                label.input-name Адрес офиса
                .inputs-wrapper
                    label(for="show-addr")
                        input#show-addr(name="address" type="radio" value="show-addr")
                        |                             Показывать адрес
                    label(for="dont-show-addr")
                        input#dont-show-addr(name="address" type="radio" value="dont-show-addr")
                        |                             Не показывать адрес
                    input#address.input(type="text")
                    label(for="show-only-metro")
                        input#show-only-metro(type="checkbox" value="show-only-metro")
                        |                             Показывать только станцию метро
                span.input-description Подсказка7
        section.sub-form
            h3 Контактные данные
            section.oneline-three-elements
                label.input-name Менеджер вакансии
                .inputs-wrapper
                    input#manager.input(type="text")
                    label(for="show-only-metro")
                        input#notificatione-by-email(type="checkbox" value="show-only-metro")
                        |                             Уведомлять о вакансиях по почте
                span.input-description Подсказка
            section.oneline-three-elements
                label.input-name Контактная информация
                .inputs-wrapper
                    label(for="show-contact")
                        input#show-contact(name="contact" type="radio" value="show-contact")
                        |                             Показывать в вакансии
                    label(for="dont-show-contact")
                        input#dont-show-contact(name="contact" type="radio" value="dont-show-contact")
                        |                             Не показывать в вакансии
                span.input-description Подсказка7
            section.oneline-three-elements
                label.input-name(for="manager-email") Email
                input#manager-email.input(type="email")
                span.input-description Подсказка7
            section.oneline-three-elements
                label.input-name(for="manager-phone") Телефон
                input#manager-phone.input(type="tel" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{4}")
                span.input-description Подсказка7
            section.oneline-three-elements
                label.input-name(for="comment") Комментарий
                input#comment.input(type="text")
                span.input-description Подсказка7
    footer
        label(for="save-temp")
            input#save-temp(type="checkbox" value="save-temp")
            |                 Сохранить как шаблон
        br
        button(type="submit") Разместить