.vacancy-form
    header
        h1 Новая вакансия
    main
        section.sub-form
            h3 Основная информация
            section.form__section-three-elements
                label.input-name Название вакансии
                input.input.vacancy-form__job-title(type="text")
                span.input-description Подсказка1
            section.form__section-three-elements
                label.input-name Описание
                textarea.input.vacancy-form__description(type="text")
                span.input-description Подсказка3
            section.form__section-three-elements
                label.input-name Основные навыки
                input.input.vacancy-form__skills(type="text")
                span.input-description Подсказка4
            section.form__section-three-elements
                label.input-name Предположительный уровень дохода
                .inputs-wrapper
                    .payment.inputs-wrapper-filling
                        input.input.vacancy-form__payment-from(type="number")
                        input.input.vacancy-form__payment-to(type="number")
                        select.input.vacancy-form__currency
                            option(value="rub") руб.
                            option(value="eur") EUR
                            option(value="usd") USD
                    .inputs-wrapper-filling.radio-buttons-set
                        label
                            input.input-radio.vacancy-form__salary-type(name="salary-type" type="radio" value="before-taxes")
                            |                             До выплаты налогов
                        label
                            input.input-radio.vacancy-form__salary-type(name="salary-type" type="radio" value="after-taxes")
                            |                             На руки
                span.input-description Подсказка5
        section.sub-form
            h3 Место работы
            section.form__section-three-elements
                label.input-name Вакансия в городе
                input.input.vacancy-form__town(type="text")
                span.input-description Подсказка6
            section.form__section-three-elements
                label.input-name Адрес офиса
                .inputs-wrapper
                    label.inputs-wrapper-filling
                        input.input-checkbox.vacancy-form__invisible-address(type="checkbox" value="dont-show-addr")
                        |                             Не показывать адрес
                    input.input.inputs-wrapper-filling.vacancy-form__address(type="text")
                span.input-description Подсказка7
        section.sub-form
            h3 Контактные данные
            section.form__section-three-elements
                label.input-name Менеджер вакансии
                .inputs-wrapper
                    input.input.inputs-wrapper-filling.vacancy-form__manager(type="text")
                    label.inputs-wrapper-filling
                        input.input-checkbox.vacancy-form__notificate-by-email(type="checkbox")
                        |                             Уведомлять о вакансиях по почте
                span.input-description Подсказка
            section.form__section-three-elements
                label.input-name Контактная информация
                .inputs-wrapper
                    label.inputs-wrapper-filling
                        input.input-checkbox.vacancy-form__invisible-contacts(type="checkbox")
                        |                             Не показывать в вакансии
                span.input-description Подсказка7
            section.form__section-three-elements
                label.input-name Email
                input.input.vacancy-form__manager-email(type="email")
                span.input-description Подсказка7
            section.form__section-three-elements
                label.input-name Телефон
                input.input.vacancy-form__manager-phone(type="tel")
                span.input-description Подсказка7
            section.form__section-three-elements
                label.input-name Комментарий
                input.input.vacancy-form__comment(type="text")
                span.input-description Подсказка7
    footer
        label
            input.input-checkbox.vacancy-form__save-temp(type="checkbox")
            |                 Сохранить как шаблон
        br
        button.button.vacancy-page__button-submit Разместить
