div.main-container
    div.form-container
        form
            span.form-caption Регистрация соискателя
            div.form-input-wrapper.employee-signup-form-first-name
                input.form-input(type="text" placeholder="Имя")
                div.form-input-err
            div.form-input-wrapper.employee-signup-form-second-name
                input.form-input(type="text" placeholder="Фамиилия")
                div.form-input-err
            div.separator
            div.section
                div.form-input-wrapper.employee-signup-form-email
                    input.form-input(type="text" placeholder="Электронная почта")
                    div.form-input-err
                div.form-input-wrapper.employee-signup-form-number
                    input.form-input(type="text" placeholder="Номер")
                    div.form-input-err
                div.form-input-wrapper.employee-signup-form-additional-number
                    input.form-input(type="text" placeholder="Добавочный номер")
                    div.form-input-err
            input.form-submit.employee-signup-form-submit(type="submit" value="Зарегистрироваться")