div.main-container
    div.form-container
        form
            span.form-caption Регистрация соискателя
            input.form-input.employer-signup-form-first-name(type="text" placeholder="Имя")
            input.form-input.employer-signup-form--second-name(type="text" placeholder="Фамиилия")
            div.separator
            div.section
                input.form-input.employer-signup-form-email(type="text" placeholder="Электронная почта")
                input.form-input.employer-signup-form-number(type="text" placeholder="Номер")
                input.form-input.employer-signup-form-additional_number(type="text" placeholder="Добавочный номер")
            input.form-submit.employer-signup-form-submit(type="submit" value="Зарегистрироваться")