include ../../../../templates/pug/link
div.options
    if locals.mode === 'PREVIEW'
        div.edit-button &#9998
    else if locals.mode === 'EDIT'
        div.apply-button &#10003
        div.cancel-button &#10005
    else
        div.reload-button
            +link(href='/404') &#8635