div.dialog--header
    div.back#dialog_back &#8592;
    div.name #{locals.currentPerson && locals.currentPerson.user}
    div
div.dialog--body
    -if(locals.messages && locals.messages.length) {
    -for(let i = 1; i < locals.messages.length; i++) {
    -   if(!locals.messages[i].userTwo) {
    -      locals.messages[i].system = true
    -      continue
    -   }
    -   if(locals.messages[i-1].toYou === locals.messages[i].toYou)
    -      locals.messages[i].linked = true
    -}
    - if(!locals.messages[0].userTwo) {
    -   locals.messages[0].system = true
    -   if(!locals.messages[0].toYou && locals.messages[0].message.includes('Ваше резюме было просмотренно'))
    -       locals.messages[0].message ='Вы одобрили резюме соискателя, и он приглашен на собеседование.'
    -   if(!locals.messages[0].toYou && locals.messages[0].message.includes('Ваше резюме было одобрено'))
    -       locals.messages[0].message ='Вы одобрили резюме соискателя, и он прошел собеседование'
    -   if(!locals.messages[0].toYou && locals.messages[0].message.includes('Ваше резюме было отклонено'))
    -       locals.messages[0].message ='Вы отклонили резюме соискателя.'
    - }
    -}
    each m in locals.messages
        div.message(class=(m.toYou ? 'to' : 'from') + (m.linked ? ' linked' : '') + (m.system ? ' system' : '')) #{m.message}
div.dialog--write
    div.enter-msg#dialog_input(contentEditable=true placeholder='Напишите соискателю')
    div.send-msg.hidden#dialog_send &#8680;