include ../../../../templates/pug/link

div.signup-holder--header
    div.medal-img
    h1 Поздравляем с созданием учетной записи. Теперь самое сложное - резюме
+link(href="/summaries/create").next-button.gradient-background.create-button
    div Создать первое резюме