include ../../../../templates/pug/link
include ./auth-input

div.signup-holder--header
    h1 Укажите свои данные, чтобы работадателю было проще вас найти
+input-field-auth(placeholder="Имя" autofocus id=locals.inputFields.firstName.id)
+input-field-auth(placeholder="Фамилия" id=locals.inputFields.lastName.id)
div.next-button(id=locals.inputFields.submitField.id)
    h1 Далее