include ../../../../templates/pug/link

div.hello-img
div.signup-holder--header.signup-start
    +link(href="/signup/start").hello-link
        h1 Приступить к поиску работы
    br
    +link(href="/organizations/signup").black-link Представитель компании?