include ../../../../templates/pug/link
include ./auth-input

div.signup-holder--header
    h1 Tag позволяет другим быстрее находить Вас
div.signup-holder--tag
    b @
    +input-field-auth.no-indent(placeholder="tag" autofocus=true id=locals.inputFields.tag.id)
div.next-button(id=locals.inputFields.submitField.id)
    h1 Далее