include ../../../../../templates/pug/link

div.vacancy-holder--body
    +link(href="/summaries/" + locals.summary.id).black-link
        h1 #{locals.summary.name}
    div.person--info--location
        if locals.summary.salaryFrom
            h2 от #{locals.summary.salaryFrom}&nbsp
        if locals.summary.salaryTo
            h2 до #{locals.summary.salaryTo}&nbsp
        if locals.summary.salaryFrom || locals.summary.salaryTo
            i.fas.fa-ruble-sign
    div.flex-1.flex
    +link(id=locals.selectId).submit-button Выбрать
