include ../../../../templates/pug/link
div.signup-holder
    div.signup-holder.width-60.margin-right-20
        div.hello-img
        div.signup-holder--header.signup-start
            +link(href="/signup/start").hello-link
                h1 Приступить к поиску работы
            br
            +link(href="/organizations/signup").black-link Представитель компании?