include ../../../templates/pug/link
div.responses-nav-menu#responses_nav
    div.responses-nav-menu--item
        div.responses-nav-menu--content Отклики
    div.responses-nav-menu--item
        div.responses-nav-menu--content Чат с соискателями
    div.responses-nav-menu--item
        div.responses-nav-menu--content Настройки
div.responses-holder--display#responses_display
div(hidden)#responses_load_manager