include ../../../templates/pug/link
include ../../../templates/pug/avatar


div.responses-item--body
    div.response-person-holder
        +link(href='/users/' + locals.item['user_id']).user-avatar-link.black-link
            +avatar(noSelect=true src=locals.item.avatar)
            h1 Балицкий Михаил
        div.buttons
            +link(href="/vacancies/" + locals.item.vacancyId).black-link В
            +link(href="/summaries/" + locals.item.summaryId).black-link Р
    div.flex-1
    div.menu
        div(id=locals.declineId).decline Отклонить
        div(id=locals.acceptId).accept Принять
