include export
section.preview-mode
    if(locals.info.length)
        each prev in locals.info
            +education-form(prev)(readonly)
    else
        if locals.isCreation
            span.education--paragraph.creation Не забудьте сохранить изменения перед отправкой резюме&nbsp
                span.gray-message (Данное сообщение не появится в итоговом резюме)
        else
            span.education--paragraph Будет получено