.resume-form {
    padding: 2%;
    border-radius: 15px;
    margin: auto;
    min-width: 600px;
    max-width: 1200px;
}

.choose-summary-lang {
    max-width: 137px;
}

.form__section-two-elements {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2%;
    grid-auto-columns: minmax(min-content, max-content);
}

.input-name {
    text-align: left;
}

.input {
    margin-top: 1px;
    text-align: left;
}

.input-description {
    text-align: left;
    color: dimgray;
}

.input-description:hover {
    color: black;
}

.input {
    margin-top: 1px;
    text-align: left;
    width: 100%;
}

.inputs-wrapper {
    margin-top: 1px;
    text-align: left;
}

/*.inputs-wrapper > *:not(.payment)*/
.inputs-wrapper__filling {
    display: block;
}

.section-settings {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2%;
}

.summary-preparation-actions {
    text-align: left;
}

.user-summary-actions {
    text-align: right;
}

.user-summary-actions__filling {
    display: inline;
}

.date {
    display: flex;
}

.tags-place {

}

.tag {
    display: inline-flex;
    background-color: aquamarine;
}

.template-explanations {

}

.template-explanations * {
    color: blue;
    text-decoration: underline;
    text-decoration-style: dashed;
}