div.responses-nav-menu--item
    div.responses-nav-menu--content.responses Отклики
div.responses-nav-menu--item
    div.responses-nav-menu--content.messenger Чат с соискателями
div.responses-nav-menu--item
    div.responses-nav-menu--content.settings Настройки