include ../../../templates/pug/avatar
include ../../../templates/pug/name
include ../../../templates/pug/birth
include ../../../templates/pug/phone

div.create-summary-section
    div.create-summary-section--body.flex-row
        div.person-info-holder--avatar
            +avatar(src="")
        div.person--info
            +name("Михаил", "Балицкий", "")
            +phone(89123456789)
            div.person--info--location
                h2 Россия,&nbsp
                h2 Москва
            +birth(month=5 day=4 year=2000)