mixin section-title
    div.section-title.cover(class=attributes.class)
        block

if locals.id
    a(href='/api/summaries/' + locals.id + '/print' target="_blank" ).print-summary#print_summary
else
    div.hidden#print_summary
section.page-holder.pad-t20.pad-b20
    section.page-solid-section.width80.rad10.maxw800#summary_info
    +section-title.width80
        h1 Основная информация
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100.vacancy-main-info#summary_main_info
    +section-title.width80
        h1 Опыт работы
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100#summary_experience
    +section-title.width80
        h1 Образование
    section.page-section.width80.mrg0
        div.page-holder--body.flex-row.width100#summary_education
    +section-title.width80

    if locals.submitText
        section.page-section.width80.gradient-background.create-button#create_summary_button
            div #{locals.submitText}