include ../shared

+settings-block(title='Контактная информация')
    +settings-item("Email")(id=locals.inputFields.email.id)
    +settings-item("Телефон")(id=locals.inputFields.phone.id)
    div.submit-button(id=locals.inputFields.submitField.id) Сохранить