div#chosen_button.chosen-holder
section.page
    section.page-solid-section#users_info
    section.sections-holder.cover#users_nav
    section.page--holder.light-grad
        div.page--body#users_current_section