@import "../../CONSTANTS"

//.user-name
//  padding: 20px
//  display: flex
//  @media(max-width: 800px)
//    flex-direction: column
//
//  .tag
//    color: $GRAY
//    background: none
.user--chosen
  display: flex
  flex-direction: column
  .section
    padding: 5px
$FADING_SELECTED: rgba(255, 255, 255, .5)
$FADING_SELECTED_HOVER: rgba(255, 255, 255, .5)
$FADING_SELECTED_CLICK: rgba(255, 255, 255, .6)
$FADING_HOVER: rgba(255, 255, 255, .1)
$FADING_CLICK: rgba(255, 255, 255, .2)
.sections-holder
  width: 100%
  height: 50px
  display: flex
  background-attachment: fixed
  @include BACKGROUND_GRADIENT
  justify-content: stretch
  align-items: stretch
  .selected
    background: $FADING_SELECTED
    color: rgba(0, 0, 0, .7) !important
    &:hover
      background: $FADING_SELECTED_HOVER
    &:active
      background: $FADING_SELECTED_CLICK
  &--item
    user-select: none
    text-align: center
    cursor: pointer
    flex: 1
    color: rgba(0, 0, 0, .4)
    display: flex
    justify-content: center
    align-items: center
    transition: .3s background
    &:hover
      background: $FADING_HOVER
    &:active
      background: $FADING_CLICK
    h2
      font-weight: 200


.settings-holder--body
  flex-direction: column
  flex: 1
  display: flex
  padding: 30px 30px 60px
  justify-content: stretch
  align-items: stretch

.settings-holder-item
  display: flex
  flex: 1
  justify-content: space-between
  align-items: baseline

.settings-holder-item--header
  margin-right: 20px
  flex: 1
  //hyphens: auto
  text-align: right
  font-size: 1.25em
  display: flex
  align-items: center
  justify-content: flex-end
.settings-holder-item--input
  flex: 1
  flex-grow: 5

.sex-container
  &--body
    display: flex
    flex: 1
    align-items: baseline

  select
    &:disabled
      color: black
    display: block
    font-size: 1.5em
    font-family: sans-serif
    padding: .6em 1.4em .5em .8em
    width: 100%
    max-width: 100%
    margin: 0
    border: none
    box-shadow: none
    border-radius: 0
    appearance: none
    background-color: transparent
    background-position: right .7em top 50%, 0 0
    background-size: .65em auto, 100%

    &:focus
      outline: none
      border: none
      box-shadow: none

.birth-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  @media(max-width: 349px)
    .settings-holder-item--header
      margin-top: 10px
      margin-bottom: -15px
      justify-content: flex-start
  &--body
    display: flex
  .day
    min-width: 35px
  .month
    min-width: 35px
  .year
    min-width: 70px
  .settings-input
    margin: 0 20px 0 20px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

.birth-tag
  h2
    text-align: left
    margin: 10px 0 0 0

    &:first-child
      margin-left: 0

.about-submit
  margin-top: 3px

.empty-message
  @media (min-width: 1200px)
    font-size: 120px
  @media (max-width: 1000px)
    width: 450px
    max-width: calc(100vw - 20px)
  @media (max-height: 500px)
    font-size: 20vh
  font-size: 10vw
  opacity: .3
  margin: 10px