include ../../../templates/pug/forms
.resume-form
    header
        h1 Ваше резюме
    main
        section.sub-form
            div#create_summary_person_info
            div#create_summary_add_education
            div#create_summary_show_education
    footer
        br
        button.button.resume-form__button-submit Сохранить и опубликовать