include ../../../templates/pug/forms
section.create-summary-holder
    div.create-summary-holder--body
        section
            div#create_summary_person_info
        section
            h1 Опыт работы
            div#create_summary_add_experience
            div#create_summary_show_experience
        section
            h1 Образование
            div#create_summary_add_education
            div#create_summary_show_education
        section
            h1 Требования к вакансии
            div#create_summary_expectations
                //зарплата, должность, сфера,
        section
            div#create_summary_additional_info
                //о себе, ключевые слова
        section
            div#create_summary_languages
                //Языки, которыми владеете
        section
            //права(категория), наличие автомобиля, график работы, переезд, занятость

        footer
            br
            button(id=locals.inputFields.submitField.id) Сохранить и опубликовать