include ../pug/sections
+sections-item.solid(name="Рекомендации" id=locals.events.showStatistics.id)
+sections-item.solid(name="Резюме" id=locals.events.showSummaries.id)
+sections-item.solid(name="Избранное" id=locals.events.showFavourite.id)
+sections-item.solid(name="Личные данные" id=locals.events.showSettings.id)