section.page-holder
    div.gradient-background.cover
        div.light-background.cover
            div.page-section.width80.mrg20.pad-b0
                section.page-section--body#search_bar
    div.gradient-background.cover.flex-1
        div.light-background.cover.flex-1
            div.cover.width80.maxw800#search_display