include ../../SummaryPage/pug/index
mixin summaries(summs, events)
    h2 Ваши Резюме
        div(class="user-summaries")
            each sum in summs
                +summary(sum)
                    a(href="#" data-page="summaries/"+sum.id) Открыть страницу резюме
            +showmore(id=events.showMore.id)