header
    h1 Список вакансий
main
    -
        var vacancys = [
            {
                position: "Backend разработчик",
                organization: "ООО Свекор",
                discription: "Проектировать архитектуру и разрабатывать решения по отказоустойчивости.",
                salary: "100 000-120 000 руб."
            },
            {
                position: "Ведущий Bitrix-разработчик (PHP Team Lead)",
                organization: "DDPlanet",
                discription: "Руководство отделом разработки. Развитие инфраструктуры Bitrix-разработки.",
                salary: "от 150 000 руб."
            },
            {
                position: "Разработчик C++/Qt & QML (middle+ / senior)",
                organization: "CommuniGate Systems Russia",
                discription: "Занимался разработкой на Qt / С++ приложений с развитым GUI.",
                salary: "70 000-110 000 руб."
            },
            {
                position: "Senior Full Stack Developer .NET",
                organization: "CBS Interactive",
                discription: "Разрабатывать сложные многокомпонентные системы, входящие в продукты команды.",
                salary: "до 250 000 руб."
            },
            {
                position: "Разработчик программного обеспечения",
                organization: "ИНКОМ-НЕДВИЖИМОСТЬ",
                discription: "Участие в проекте по внедрению внутренней корпоративной системы (риэлти.net).",
                salary: "100 000-140 000 руб."
            }
        ]

    div.list-of-vacancies
        if vacancys.length > 0
            ul
                - for (var i = 0;i < vacancys.length; i++)
                    div.one-vacancy
                        h3= vacancys[i].position
                        li= vacancys[i].discription
                        h5= vacancys[i].organization
                        h3= vacancys[i].salary
                        button.button-list Просмотреть
        else
            div.no-vacancies
                p Нет ни одной вакансии.
                p Чтобы разместить вакансию на сайте, перейдите по кнопке "Разместить вакансию".
        div.list

