include ../../../templates/pug/link
include ./auth-input
div.signup-holder
    div.signup-holder.width-60.margin-right-20
        div.signup-holder--header
            h1 Tag позволяет другим быстрее находить Вас
        div.signup-holder--tag
            b @
            +input-field-auth.no-indent(placeholder="tag" autofocus=true)
        div.next-button(id=locals.events.submit.id)
            h1 Далее