include ../../../templates/pug/link
div.signup-holder.gradient-background
    div
        div.signup-holder.width-60
            div.start-button.circle
                div(id=locals.events.submit.id)
                    h1 Приступить к поиску работы
            br
            +link(href="/signup/employer").black-link Представитель компании?