div.main-container
    div.form-container
        form
            span.form-caption Регистрация работодателя
            div.section
                select.form-select
                    option ООО
                    option ПАО
            input.form-input.employer-signup-form-company-name(type="text" placeholder="Название компании")
            div.form-checkbox
                input.form-input.employer-signup-form-site(type="text" placeholder="Сайт")
                select.form-select
                    option Мене 50 сотрудников
                    option От 51 до 100 сотрудников
                    option От 101 до 250 сотрудников
                    option От 251 до 500 сотрудников
                    option Более 500 сотрудников
                input.form-input.employer-signup-form-city(type="text" placeholder="Город")
            span.form-caption Контактное лицо
                span.form-caption-hont (конфиденциально)
            input.form-input.employer-signup-form-first-name(type="text" placeholder="Имя")
            input.form-input.employer-signup-form--second-name(type="text" placeholder="Фамиилия")
            div.separator
            div.section
                input.form-input.employer-signup-form-email(type="text" placeholder="Электронная почта")
                input.form-input.employer-signup-form-number(type="text" placeholder="Номер")
                input.form-input.employer-signup-form-additional_number(type="text" placeholder="Добавочный номер")
            span.form-hint Нажимая "Зарегистрировать компанию",<br>вы подтверждаете, что ознакомлены<br>и полностью согласны<br>с
                a(href="#") условиями использования сайта.
            input.form-submit-employer-signup-form-submit(type="submit" value="Зарегистрировать компанию")