.resume_form
    header
        h1 Ваше резюме
    main
        section.section_settings
            button.button.resume_form__print_button Печать
            button.button.resume_form__delete_summary_button Удалить
        section.sub_form
            h3 Контактные данные
            section.form__section_two_elements
                label.input_name Имя
                input.input.resume_form__name(type="text")
            section.form__section_two_elements
                label.input_name Фамилия
                input.input.resume_form__surname(type="text")
            section.form__section_two_elements
                label.input_name Мобильный телефон
                input.input.resume_form__phone(type="tel")
            section.form__section_two_elements
                label.input_name Город проживания
                input.input.resume_form__city(type="text")
        section.sub_form
            h3 Основная информация
            section.form__section_two_elements
                label.input_name Дата рождения
                .inputs_wrapper
                    .inputs_wrapper_filling.date
                        input.input.resume_form__day(type="number" placeholder="День")
                        select.input.resume_form__month
                            - let month = ['Январь', 'Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентября','Октябрь','Ноябрь','Декабрь', ]
                            each val, index in month
                                option(value=`${index}`)=val
                        input.input.resume_form__year(type="number" placeholder="Год")
            section.form__section_two_elements
                label.input_name Пол
                .inputs_wrapper
                    .inputs_wrapper_filling.radio_buttons_set
                        label
                            input.input_radio.resume_form__sex(name="sex" type="radio" value="male")
                            |                             Мужской
                        label
                            input.input_radio.resume_form__sex(name="sex" type="radio" value="female")
                            |                             Женский
            section.form__section_two_elements
                label.input_name Гражданство
                .inputs_wrapper
                    input.inputs_wrapper_filling.input.resume_form__citizenship(type="text")
                    //.inputs_wrapper_filling.tags_place
                    //    .tag
                    //        span.tag_name Россия
                    //        button.button.delete_tag_button X
            section.form__section_two_elements
                label.input_name Опыт работы
                .inputs_wrapper
                    span
                        | 80% работодателей не рассматривают кандидатов без опыта работы.
                        | Рекомендуем указать опыт или объяснить почему его нет,
                        | выбрав причину из предложенных или описав свою.
                    textarea.input.resume_form__no_exp_explanation
        section.sub_form
            h3 Образование
            section.form__section_two_elements
                label.input_name Высшее образование получено в
                input.input.resume_form__education(type="text")
    footer
        br
        button.button.resume_from__button_submit Сохранить и опубликовать