.resume-form
    header
        h1 Ваше резюме
    main
        section.section-settings
            button.button.resume-form__print-button Печать
            button.button.resume-form__delete-summary-button Удалить
        section.sub-form
            h3 Контактные данные
            section.form__section-two-elements
                label.input-name Имя
                input.input.resume-form__name(type="text")
            section.form__section-two-elements
                label.input-name Фамилия
                input.input.resume-form__surname(type="text")
            section.form__section-two-elements
                label.input-name Мобильный телефон
                input.input.resume-form__phone(type="text")
            section.form__section-two-elements
                label.input-name Город проживания
                input.input.resume-form__city(type="text")
        section.sub-form
            h3 Основная информация
            section.form__section-two-elements
                label.input-name Дата рождения
                .inputs-wrapper
                    .inputs-wrapper-filling.date
                        input.input.resume-form__day(type="number" placeholder="День")
                        select.input.resume-form__month
                            - let month = ['Январь', 'Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентября','Октябрь','Ноябрь','Декабрь', ]
                            each val, index in month
                                option(value=`${index}`)=val
                        input.input.resume-form__year(type="number" placeholder="Год")
            section.form__section-two-elements
                label.input-name Пол
                .inputs-wrapper
                    .inputs-wrapper-filling.radio-buttons-set
                        label
                            input.input-radio.resume-form__gender(name="gender" type="radio" value="male")
                            |                             Мужской
                        label
                            input.input-radio.resume-form__gender(name="gender" type="radio" value="female")
                            |                             Женский
            section.form__section-two-elements
                label.input-name Гражданство
                .inputs-wrapper
                    input.inputs-wrapper-filling.input.resume-form__citizenship(type="text")
                    //.inputs-wrapper-filling.tags-place
                    //    .tag
                    //        span.tag-name Россия
                    //        button.button.delete-tag-button X
            section.form__section-two-elements
                label.input-name Опыт работы
                .inputs-wrapper
                    span
                        | 80% работодателей не рассматривают кандидатов без опыта работы.
                        | Рекомендуем указать опыт или объяснить почему его нет,
                        | выбрав причину из предложенных или описав свою.
                    textarea.input.resume-form__no-exp-explanation
        section.sub-form
            h3 Образование
            section.form__section-two-elements
                label.input-name Высшее образование получено в
                input.input.resume-form__education(type="text")
    footer
        br
        button.button.resume-form__button-submit Сохранить и опубликовать