mixin section-title
    section.cover.gradient-background
        div.cover.light-background
            div.page-holder--body.width80
                block
div#chosen_button.chosen-holder
section.page
    div.page--section--solid
        section.section--solid#organization_org_info
    div.page--seciton--solid.light-grad
        div.section--solid
            span.section--title Информация об организации
            div.section--body#organization_org_main_info

    div.page--seciton--solid
        div.section--solid
            span.section--title Список доступных вакансий
            div.section--body
                div.vacancy-list--body#organization_org_vacancies
            div.hidden#organization_vacancy_load_manager