mixin section-title
    section.cover.gradient-background
        div.cover.light-background
            div.page-holder--body.width80
                block
div#chosen_button.chosen-holder
section.page

    div.page--section--solid.maxw100vw
        section.section--solid#organization_org_info

    div.page--seciton--solid.light-grad.maxw100vw
        div.section--solid
            span.section--title Информация об организации
            div.section--body#organization_org_main_info

    div.page--section--solid.maxw100vw
        div.section--solid
            span.section--title Список доступных вакансий
            div.section--body.list
                div.list--holder
                    div.vacancy-list--body#organization_org_vacancies
                div.hidden#organization_vacancy_load_manager