//div#chosen_button.chosen-holder
section.page--holder.light-grad
    div.page--body
        div.section.maxw100vw
            section.section--body.padlr20.organization--info#organization_org_info
    div.page--body
        h1.section--title Информация об организации
        section.page--section--solid.tools
            div.page-holder--body.flex-row.width100#organization_org_main_info

        h1.section--title Список доступных вакансий
        div.list--holder
            div.vacancy-list--body#organization_org_vacancies
        div.hidden#organization_vacancy_load_manager