div.header-container
    div.header-group
        div.header-link-wrapper
            a.header-link(href="#") Москва
        div.header-link-wrapper
            a.header-link(href="#") Соискателям
        div.header-link-wrapper
            a.header-link(href="#") Работодателям
    div.header-fill
    div.header-group
        div.header-link-wrapper
            a.header-link(href="#") Готовое резюме
        div.header-link-wrapper
            a.header-link(href="#") Публикация вакансий
div.header-container.search-bar-container
    div.header-group
        div.header-link-wrapper
            a(href="#")
                span.search-bar-logo
        div.header-link-wrapper
            a.search-bar-link(href="#") Прайс-лист
        div.header-link-wrapper
            a.search-bar-link(href="#") Помощь
    div.header-fill
    div.header-group
        div.header-link-wrapper
            a.search-bar-link(href="#") Поиск
        div.header-link-wrapper
            a.search-bar-link(href="#") Разместить вакансию
        div.header-link-wrapper
            a.search-bar-link(href="#") Войти