mixin search-bar-link
    div.header-link-wrapper
        a.search-bar-link(href="#" data-page=attributes.href)
            block

mixin header-link
    div.header-link-wrapper.header-link-wrapper-first
        a.header-link(href="#") Москва
div.header-container
    div.header-group
        div.header-link-wrapper.header-link-wrapper-first
            a.header-link(href="#") Москва
        div.header-link-wrapper
            a.header-link(href="#") Соискателям
        div.header-link-wrapper
            a.header-link(href="#") Работодателям
    div.header-fill
    div.header-group
        div.header-link-wrapper
            a.header-link(href="#") Готовое резюме
        div.header-link-wrapper
            a.header-link(href="#") Публикация вакансий
div.header-container.search-bar-container
    div.header-group
        div.header-link-wrapper.header-link-wrapper-first
            a.search-bar-link(href="#" data-page="index") Главная
    div.header-fill
    div.header-group
        +search-bar-link Поиск
        +search-bar-link(href="vacancies/create") Разместить вакансию
        +search-bar-link(href="summaries/create") Создать резюме
        +search-bar-link(href="user") Страница Пользователя
        +search-bar-link(href="login") Войти