.header-container {
    height: 40px;
    background-color: white;
    display: flex;
    padding: 0 20px;
}

.header-group {
    display: flex;
}

.header-link-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-link-wrapper:first-child {
    margin-left: 0;
}

.header-link {
    color: #609fcf;
}

.header-fill {
    margin-left: auto;
}

.search-bar-container {
    height: 80px;
    background-color: #333;
}

.search-bar-link {
    color: white;
}

.search-bar-logo {
    height: 42px;
    width: 42px;
    background-color: red;
    display: block;
    border-radius: 21px;
}

body {
    padding: 0;
    margin: 0;
}