include ../../../../templates/pug/link
include ./auth-input

div.signup-holder--header
    h1 Создайте учетную запись или войдите в существующую, чтобы управлять вакансиями Вашей компании и осуществлять найм соискателей
+input-field-auth(placeholder="Имя пользователя" autofocus=true id=locals.inputFields.login.id)
+input-field-auth(placeholder="Пароль" type="password" id=locals.inputFields.password.id)
div.next-button(id=locals.inputFields.submitField.id)
    h1 Далее
+link.auth-back-link(href='/signup') назад