include ../../../../templates/pug/link
include ./auth-input

div.signup-holder--header
    h1 Укажите свои данные, чтобы соискателю было проще вас найти
+input-field-auth(placeholder="Название компании" autofocus id=locals.inputFields.name.id)
+input-field-auth(placeholder="Сайт компании" id=locals.inputFields.site.id)
div.next-button.gradient-background.create-button(id=locals.inputFields.submitField.id)
    div Далее