include ../../../../templates/pug/link

div.signup-holder--header
    div.medal-img
    h1 Поздравляем с созданием организации. Дальше - больше
+link(href="/vacancies/create").next-button.gradient-background.create-button
    div Создать первую вакансию