section.page--holder.light-grad
    div.page--body

        div.page--body
            h1.section--title Откликнуться на вакансию
            div.list--holder
                div.vacancy-list--body#response_summaries
            div.hidden#response_load_manager