$LIGHT_BLUE : #ECFCFC
$WHITE : #FFFFFF
$LIGHT_GRAY : #FAFAFA
$LIGHT_GRAY_2 : #D1D1D1
$BLACK: #000000
$GRAY: #454545
$MEDIUM_GRAY: #D4D4D4
$MAIN_ORANGE: #4c91c9 //#67584f
$MAIN_2_ORANGE: #36bbf4
// Purplish background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%)
@mixin BACKGROUND_GRADIENT
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%)

@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap')
$DEFAULT_FONT: 'Istok Web', sans-serif