include ../../../templates/pug/link
mixin summary-preview
    div.page-section
mixin organization-preview
    div.page-section
mixin vacancy-preview
    div.page-section

section.section--body
    if(locals.organizations && locals.organizations.length)
        span.section--title Организации
        each org in locals.organizations
            +link(href="/organizations/" + org.id id=org.innerId).section
    if(locals.persons && locals.persons.length)
        span.section--title Пользователи
        each per in locals.persons
            +link(href="/users/" + per.id id=per.innerId).section
    if(locals.vacancies && locals.vacancies.length)
        span.section--title Вакансии
        each vac in locals.vacancies
            +link(href="/vacancies/" + vac.id id=vac.innerId).section