include ../../../templates/pug/link
mixin summary-preview
    div.page-section
mixin organization-preview
    div.page-section
mixin vacancy-preview
    div.page-section

section.section--body
    div#search_upper_items
    each item, index in locals
        if(index > 0)
            div.display-holder--counter страница #{index + 1}
        if(item.organizations && item.organizations.length)
            span.section--title Организации
            each org in item.organizations
                +link(href="/organizations/" + org.id id=org.innerId).section.search-item
        if(item.persons && item.persons.length)
            span.section--title Пользователи
            each per in item.persons
                +link(href="/users/" + per.id id=per.innerId).section.search-item
        if(item.vacancies && item.vacancies.length)
            span.section--title Вакансии
            each vac in item.vacancies
                +link(href="/vacancies/" + vac.id id=vac.innerId).section.search-item
        div#search_lower_items