.display-holder
  display: flex
  flex-direction: column
  justify-content: start
  padding-bottom: 50px
  h1
    margin-top: 0
  .person--info--location
    flex-direction: row
    display: flex
    h2
      margin: 0