include ../../../../templates/pug/link
div.vacancy-holder--body
    +link(href='/vacancies/create').vacancy-holder--link
        div.start-adding.vacancy
            div.start-adding--button
                h1 +
                h2 Создать