@import "../../../CONSTANTS"
.print-summary
  color: black
  display: flex
  transition: .1s
  justify-content: center
  align-items: center
  font-size: 19px
  opacity: .5
  width: 40px
  height: 40px
  &:hover
    opacity: .6