include ../shared

+settings-block(title='Базовая информация')
    +settings-item("Имя")(readonly=!locals.canChange id=locals.inputFields.firstName.id)
    +settings-item("Фамилия")(readonly=!locals.canChange id=locals.inputFields.lastName.id)
    div.submit-button(id=locals.inputFields.submitField.id) Сохранить